<a href="https://colab.research.google.com/github/zhukuixi/Udacity_DataScientistNanoDegree/blob/main/Chp1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [7]:
import pandas as pd
from matplotlib import pyplot as plt

df = pd.read_csv("https://github.com/zhukuixi/Udacity_DataScientistNanoDegree/blob/main/Chp1_IntroToDataScience/survey-results-public.csv",quotechar='"',error_bad_lines=False)

<ipython-input-7-991c9eeb8a95>:4: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version. Use on_bad_lines in the future.


  df = pd.read_csv("https://github.com/zhukuixi/Udacity_DataScientistNanoDegree/blob/main/Chp1_IntroToDataScience/survey-results-public.csv",quotechar='"',error_bad_lines=False)
b'Skipping line 27: expected 1 fields, saw 367\nSkipping line 90: expected 1 fields, saw 3\nSkipping line 135: expected 1 fields, saw 5\nSkipping line 198: expected 1 fields, saw 3\nSkipping line 207: expected 1 fields, saw 6\nSkipping line 239: expected 1 fields, saw 4\nSkipping line 252: expected 1 fields, saw 4\nSkipping line 265: expected 1 fields, saw 4\nSkipping line 278: expected 1 fields, saw 4\nSkipping line 291: expected 1 fields, saw 4\nSkipping line 304: expected 1 fields, saw 4\nSkipping line 317: expected 1 fields, saw 4\nSkipping line 330: expected 1 fields, saw 4\nSkipping line 347: expected 1 fields, saw 4\nSkipping line 354: expected 1 fields, saw 4\nSkipping line 363: expected 1 fields, saw 4\nSkipping line 372: expected 1 fields, saw 4\nSkipping line 397: expected 1 fields, saw 4\nSkipping line 404: expected 1 fields, saw 4\nSkipping line 411: expected 1 fields, saw 4\nSkipping line 418: expected 1 fields, saw 4\nSkipping line 431: expected 1 fields, saw 4\nSkipping line 438: expected 1 fields, saw 4\nSkipping line 447: expected 1 fields, saw 4\nSkipping line 460: expected 1 fields, saw 4\nSkipping line 467: expected 1 fields, saw 4\nSkipping line 491: expected 1 fields, saw 4\nSkipping line 505: expected 1 fields, saw 4\nSkipping line 520: expected 1 fields, saw 4\nSkipping line 527: expected 1 fields, saw 4\nSkipping line 534: expected 1 fields, saw 4\nSkipping line 546: expected 1 fields, saw 3\nSkipping line 565: expected 1 fields, saw 2\nSkipping line 764: expected 1 fields, saw 6\nSkipping line 765: expected 1 fields, saw 3\nSkipping line 772: expected 1 fields, saw 6\nSkipping line 773: expected 1 fields, saw 3\nSkipping line 878: expected 1 fields, saw 6\nSkipping line 884: expected 1 fields, saw 6\nSkipping line 893: expected 1 fields, saw 6\nSkipping line 919: expected 1 fields, saw 4\nSkipping line 931: expected 1 fields, saw 4\nSkipping line 943: expected 1 fields, saw 4\nSkipping line 955: expected 1 fields, saw 4\nSkipping line 967: expected 1 fields, saw 4\nSkipping line 979: expected 1 fields, saw 4\nSkipping line 990: expected 1 fields, saw 4\nSkipping line 1076: expected 1 fields, saw 5\nSkipping line 1246: expected 1 fields, saw 2\nSkipping line 1271: expected 1 fields, saw 7\nSkipping line 1311: expected 1 fields, saw 2\nSkipping line 1378: expected 1 fields, saw 6\nSkipping line 1388: expected 1 fields, saw 2\nSkipping line 1413: expected 1 fields, saw 2\nSkipping line 1460: expected 1 fields, saw 2\nSkipping line 1468: expected 1 fields, saw 3\nSkipping line 1469: expected 1 fields, saw 3\nSkipping line 1470: expected 1 fields, saw 3\nSkipping line 1471: expected 1 fields, saw 3\nSkipping line 1472: expected 1 fields, saw 3\nSkipping line 1473: expected 1 fields, saw 3\nSkipping line 1474: expected 1 fields, saw 3\nSkipping line 1475: expected 1 fields, saw 3\nSkipping line 1476: expected 1 fields, saw 3\nSkipping line 1477: expected 1 fields, saw 3\nSkipping line 1478: expected 1 fields, saw 3\n'

(1054, 1)

                                        <!DOCTYPE html>
0     <html lang="en" data-color-mode="auto" data-li...
1                                                <head>
2                                <meta charset="utf-8">
3       <link rel="dns-prefetch" href="https://githu...
4       <link rel="dns-prefetch" href="https://avata...
...                                                 ...
1049                                        </template>
1050                                             </div>
1051      <div id="js-global-screen-reader-notice" c...
1052                                            </body>
1053                                            </html>

[1054 rows x 1 columns]